@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap");
@keyframes shine {
  from {
    opacity: 0;
    left: 0%;
  }
  50% {
    opacity: 1;
  }
  to {
    opacity: 0;
    left: 100%;
  }
}
.home-secA {
  position: relative;
}
.home-secA::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background: var(--black);
}
.home-secA .flex {
  align-items: center;
  gap: 20px;
  border-bottom: 1px solid var(--black);
}
.home-secA .flex .colA, .home-secA .flex .colB {
  flex: 1;
}
.home-secA .flex .colA h2 {
  font-size: 48px;
  line-height: 55px;
  padding-bottom: 10px;
}
.home-secA .flex .colA p {
  font-size: 16px;
  line-height: 1.5;
  max-width: 473px;
  margin-bottom: 40px;
  letter-spacing: 0.2px;
  color: var(--black);
}
.home-secA .flex .colA .btn-btn {
  width: -moz-fit-content;
  width: fit-content;
}
.home-secA .flex .colB .home_3d {
  width: 500px;
  height: 395px;
}
.home-secA .flex .colB .home_3d .card-wrap {
  transform: translate(-27px, 27px);
}
.home-secA .flex .colB .home_3d .card-wrap::before, .home-secA .flex .colB .home_3d .card-wrap::after {
  width: var(--borderheight);
}
.home-secA .flex .colB .home_3d .card-wrap, .home-secA .flex .colB .home_3d .card, .home-secA .flex .colB .home_3d .figure, .home-secA .flex .colB .home_3d video {
  width: 100%;
  height: 100%;
}
.home-secA .flex .colB .home_3d .figure::before {
  display: none;
}

.home-secB {
  position: relative;
}
.home-secB::before {
  content: "";
  position: absolute;
  top: 5%;
  width: 100%;
  height: 1px;
  background-color: #000;
}
.home-secB .container {
  padding-bottom: 0;
}
.home-secB .container .heading {
  padding: 30px 0 50px;
  text-align: center;
  max-width: 450px;
  margin: 0 auto;
}
.home-secB .container .solutions-grid {
  border-top: 1px solid #000;
}
.home-secB .container .solutions-grid .sol-item {
  padding: 50px 30px;
  border-right: 1px solid var(--black);
  border-bottom: 1px solid var(--black);
  cursor: pointer;
  overflow: hidden;
  position: relative;
}
.home-secB .container .solutions-grid .sol-item:nth-child(4n) {
  border-right: 0;
}
.home-secB .container .solutions-grid .sol-item:hover .hover-item {
  transform: translateY(0);
}
.home-secB .container .solutions-grid .sol-item h5 {
  font-weight: 700;
  text-align: center;
  margin: 0 auto 30px;
}
.home-secB .container .solutions-grid .sol-item figure {
  width: 100%;
  height: 100%;
}
.home-secB .container .solutions-grid .sol-item figure img {
  -o-object-fit: contain;
     object-fit: contain;
}
.home-secB .container .solutions-grid .sol-item .hover-item {
  background: var(--gradient-a);
  width: 100%;
  height: 100%;
  text-align: center;
  position: absolute;
  top: 0;
  left: 0;
  padding: 50px 30px;
  transform: translateY(100%);
  transition: 0.7s ease;
}
.home-secB .container .solutions-grid .sol-item .hover-item h5 {
  font-weight: 700;
  text-align: center;
  margin: 0 auto 30px;
  color: var(--white);
}
.home-secB .container .solutions-grid .sol-item .hover-item p {
  color: var(--white);
  text-align: center;
}
.home-secB .container .solutions-grid .sol-item .hover-item .btn-btn {
  margin: 30px;
  width: -moz-fit-content;
  width: fit-content;
}
.home-secB .container .solutions-grid .sol-item .hover-item .btn-btn:hover span {
  transform: translate(0);
}
.home-secB .container .solutions-grid .sol-item .hover-item .btn-btn::before {
  background-color: var(--white);
}
.home-secB .container .solutions-grid .sol-item .hover-item .btn-btn span {
  background-color: var(--primary);
  color: var(--white);
  border-color: var(--white);
  transform: translate(-4px, -3px);
}

.home-secC .container {
  border-bottom: 1px solid var(--black);
}
.home-secC .container .heading {
  text-align: center;
}
.home-secC .container .heading p {
  max-width: 670px;
  margin: 0 auto;
}
.home-secC .container .services-grid {
  grid-gap: 40px 15px;
  padding: 50px 0 70px;
}
.home-secC .container .btn-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.home-secD .container {
  border-bottom: 1px solid var(--black);
  align-items: center;
  overflow: hidden;
}
.home-secD .container .colA, .home-secD .container .colB {
  flex: 1;
}
.home-secD .container .colA h1 {
  font-size: 60px;
  padding-bottom: 10px;
}
.home-secD .container .colA p {
  max-width: 500px;
  color: var(--black);
}
.home-secD .container .colA .counter-wrapper {
  display: flex;
  padding: 40px 0;
  gap: 30px;
}
.home-secD .container .colA .counter-wrapper .counter-info-wrap h5 {
  font-size: 36px;
  font-weight: 300;
  padding-bottom: 6px;
}
.home-secD .container .colA .counter-wrapper .counter-info-wrap p {
  font-size: 16px;
}
.home-secD .container .colB {
  position: relative;
}
.home-secD .container .colB .upper-sec ul {
  display: flex;
  align-items: center;
  justify-content: end;
  gap: 40px;
}
.home-secD .container .colB .lower-sec {
  width: 512px;
  height: 360px;
  position: relative;
}
.home-secD .container .colB .lower-sec video {
  height: 500px;
  position: absolute;
  bottom: -48%;
  right: -10%;
}

.home-secE .container {
  padding-bottom: 0;
}
.home-secE .container .heading {
  padding-bottom: 80px;
  border-bottom: 1px solid var(--black);
  text-align: center;
}
.home-secE .container .heading p {
  max-width: 400px;
  margin: 0 auto;
}
.home-secE .container .why-wrapper {
  align-items: center;
  border-bottom: 1px solid var(--black);
}
.home-secE .container .why-wrapper .colA, .home-secE .container .why-wrapper .colB {
  flex: 1;
}
.home-secE .container .why-wrapper .colA {
  padding: 60px 40px;
  border-right: 1px solid var(--black);
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
}
.home-secE .container .why-wrapper .colA figure {
  width: 90%;
  height: 100%;
}
.home-secE .container .why-wrapper .colA figure video {
  filter: grayscale(1);
}

.home-secF .container {
  border-bottom: 1px solid var(--black);
}
.home-secF .container .heading {
  text-align: center;
  max-width: 590px;
  margin: 0 auto;
}
.home-secF .container .steps-wrapper {
  position: relative;
  padding: 50px 0 0;
}
.home-secF .container .steps-wrapper .steps-nav {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  position: absolute;
  right: 0;
  top: 0;
}
.home-secF .container .steps-wrapper .steps-nav button {
  display: inline-block;
  width: 40px;
  height: 40px;
  border: 1px solid var(--black);
  border-radius: 50%;
}
.home-secF .container .steps-wrapper .steps-nav button svg {
  vertical-align: middle;
  width: 30px;
  height: 30px;
}
.home-secF .container .steps-wrapper .steps-slider {
  padding-top: 30px;
}
.home-secF .container .steps-wrapper .steps-slider .swiper-slide .step-wrap {
  position: relative;
  padding: 64px 25px;
}
.home-secF .container .steps-wrapper .steps-slider .swiper-slide .step-wrap::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 90%;
  left: 0;
  top: 0;
  background: url(/assets/images/home/steps_bg.svg) no-repeat;
  background-size: contain;
  z-index: -1;
}
.home-secF .container .steps-wrapper .steps-slider .swiper-slide .step-wrap .upper-count {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 7px;
  padding: 5px;
  position: absolute;
  top: -16%;
  left: 36%;
  transform: translate(-36%, 16%);
}
.home-secF .container .steps-wrapper .steps-slider .swiper-slide .step-wrap .upper-count .icon {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 5px solid var(--white);
  box-shadow: 0 13px 27px -5px rgba(50, 50, 93, 0.2509803922);
  width: 50px;
  height: 50px;
  background: var(--gradient-a);
  border-radius: 50%;
}
.home-secF .container .steps-wrapper .steps-slider .swiper-slide .step-wrap .upper-count .icon img {
  vertical-align: middle;
  width: 25px;
  height: 25px;
  filter: invert(1);
}
.home-secF .container .steps-wrapper .steps-slider .swiper-slide .step-wrap .upper-count .step-count {
  font-size: 20px;
  line-height: 1;
  font-weight: 800;
  color: var(--primary);
}
.home-secF .container .steps-wrapper .steps-slider .swiper-slide .step-wrap .steps {
  width: 100%;
}
.home-secF .container .steps-wrapper .steps-slider .swiper-slide .step-wrap .steps .scroll {
  height: 85px;
  overflow-y: auto;
}
.home-secF .container .steps-wrapper .steps-slider .swiper-slide .step-wrap .steps .scroll::-webkit-scrollbar {
  width: 0;
}
.home-secF .container .steps-wrapper .steps-slider .swiper-slide .step-wrap .steps h6 {
  color: var(--black);
  font-size: 16px;
  line-height: 1.2;
  font-weight: 700;
  padding-bottom: 10px;
  max-width: 80%;
}
.home-secF .container .steps-wrapper .steps-slider .swiper-slide .step-wrap .steps p {
  font-size: 16px;
  line-height: 1.3;
  max-width: 77%;
}

.home-secG .container {
  border-bottom: 1px solid #000;
}
.home-secG .container .heading {
  max-width: 500px;
}
.home-secG .container .caseStudy-wrapper, .home-secG .container .client-wrapper {
  position: relative;
  padding: 50px 0 70px;
}
.home-secG .container .caseStudy-wrapper .swiper-nav, .home-secG .container .client-wrapper .swiper-nav {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  position: absolute;
  right: 0;
  top: 0;
}
.home-secG .container .caseStudy-wrapper .swiper-nav button, .home-secG .container .client-wrapper .swiper-nav button {
  display: inline-block;
  width: 40px;
  height: 40px;
  border: 1px solid var(--black);
  border-radius: 50%;
}
.home-secG .container .caseStudy-wrapper .swiper-nav button svg, .home-secG .container .client-wrapper .swiper-nav button svg {
  vertical-align: middle;
  width: 30px;
  height: 30px;
}
.home-secG .container .caseStudy-wrapper .case-slider, .home-secG .container .client-wrapper .case-slider {
  padding-top: 30px;
}
.home-secG .container .btn-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.home-secH .container {
  border-bottom: 1px solid #000;
  padding-bottom: 0;
}
.home-secH .client-wrapper {
  position: relative;
  padding: 50px 0 30px;
}
.home-secH .client-wrapper .client-slider {
  padding-top: 30px;
}
.home-secH .client-wrapper .client-slider .client-col {
  width: 100%;
  height: 100%;
}
.home-secH .client-wrapper .client-slider .client-col:hover::before {
  background-color: var(--white);
}
.home-secH .client-wrapper .client-slider .client-col:hover .hoverItem {
  transform: translateY(0);
}
.home-secH .client-wrapper .client-slider .client-col::before {
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.5) 100%);
  transition: 0.5s ease;
}
.home-secH .client-wrapper .client-slider .client-col .hoverItem {
  width: 100%;
  height: 100%;
  padding: 50px 40px;
  background-color: var(--primary);
  text-align: center;
  position: absolute;
  left: 0;
  top: 0;
  -webkit-clip-path: polygon(84% 0%, 185% 100%, 0% 100%, 0% 100%, 0% 0);
          clip-path: polygon(84% 0%, 185% 100%, 0% 100%, 0% 100%, 0% 0);
  transform: translateY(100%);
  transition: 0.7s ease;
  z-index: 2;
}
.home-secH .client-wrapper .client-slider .client-col .hoverItem img {
  width: 56px;
  height: 56px;
  margin-bottom: 30px;
}
.home-secH .client-wrapper .client-slider .client-col .hoverItem p {
  font-size: 16px;
  line-height: 1.3;
  font-weight: 500;
  color: var(--white);
  padding-bottom: 30px;
}
.home-secH .client-wrapper .client-slider .client-col .hoverItem .details h6 {
  font-size: 16px;
  line-height: 1.3;
  font-weight: 700;
  color: var(--white);
}
.home-secH .client-wrapper .client-slider .client-col .hoverItem .details p {
  font-size: 14px;
  color: var(--white);
  font-weight: 300;
}
.home-secH .client-wrapper .client-slider .client-col figcaption {
  bottom: 10%;
  text-align: center;
}
.home-secH .client-wrapper .client-slider .client-col figcaption h4 {
  font-size: 24px;
  line-height: 1;
  font-weight: 700;
  color: var(--white);
  padding-bottom: 10px;
}
.home-secH .client-wrapper .client-slider .client-col figcaption p {
  font-size: 15px;
  line-height: 1.3;
  font-weight: 400;
  color: var(--white);
}

.home-secI .flex {
  align-items: center;
  border-bottom: 1px solid var(--black);
}
.home-secI .flex .colA, .home-secI .flex .colB {
  flex: 1;
  height: 100%;
  width: 100%;
}
.home-secI .flex .colA {
  padding: 30px 20px 30px 40px;
}
.home-secI .flex .colA h2 {
  font-size: 36px;
  max-width: 540px;
  padding-bottom: 15px;
}
.home-secI .flex .colA p {
  font-size: 16px;
  line-height: 1.4;
  color: var(--black);
  font-weight: 700;
  max-width: 280px;
  padding-bottom: 30px;
}
.home-secI .flex .colB figure {
  width: 565px;
  height: 447px;
  line-height: 0;
}
.home-secI .flex .colB figure video {
  width: 100%;
  height: 100%;
  filter: grayscale(1);
}/*# sourceMappingURL=home.css.map */