@import ../_common
body
    height: 200vh

header
    position: fixed
    top: 0
    left: 0
    right: 0
    z-index: 5
    transition: .5s ease
    height: var(--headerheight)
    @include after(var(--gradient-a))
    @include media(768)   
        height: 100px
    @include media(540)
        height: 80px
    &::after
        bottom: auto
        height: 0
        z-index: -1
        transition: .5s ease
    .header-wrapper
        height: 100%
        display: flex
        padding: 0 var(--containerfluid)
        transition: .5s ease
        --elementcolor: var(--black)
        --elementhover: var(--primary)
        gap: 1.5rem
        @include media(1024)
            gap: 1rem
        @include media(991)   
            align-items: center
            justify-content: space-between
        @include media(768)
            gap: 2rem
        @include media(540)     
            gap: 10rem
        @include media(400)
            gap: 6rem
        .colA,.colB
            height: 100%
        .colA
            display: flex
            align-items: center
            flex: 0 1 auto
            a.logo
                padding: var(--headerpadding) 15px var(--headerpadding) 0
                height: 100%
                @include media(540)
                    padding: 10px 0
                img
                    height: 100%
                    @include media(768)
                        object-fit: contain
            .solutions_ul
                text-align: center
                cursor: default
                user-select: none
                padding-left: 15px
                border-left: 1px solid $black
                transition: .5s ease
                li
                    display: inline-block
                    vertical-align: middle
                    line-height: 1
                    padding: var(--headerpadding) 0
                    &.hasDropdown
                        >a
                            position: relative
                            &::after
                                transition: .5s ease
                                content: ""
                                background-image: url(/assets/icon/arrow-down-black.svg)
                                background-repeat: no-repeat
                                background-position-x: 100%
                                background-position-y: 50%
                                background-size: var(--arrowsize) auto
                                padding-right: calc(var(--arrowsize) + var(--space))
                        &:hover
                            >a
                                color: var(--elementhover)
                                position: relative
                                &::after
                                    transform: rotate(90deg)
                            .dropdown-menu 
                                opacity: 1
                                transform: scale3d(1, 1, 1) 
                        .dropdown-menu
                            position: absolute
                            background: white
                            top: 100%
                            left: 50%
                            translate: -50% 0
                            transform: perspective(2000px) translate3d(0px, 0px, 50px) rotateX(-90deg) scale3d(0.86, 0.75, 1) translateY(50px)
                            transform-origin: top
                            transition: .4s ease
                            opacity: 0
                            width: 100%
                            max-width: var(--container)
                            .dropdown-menu-wrap
                                height: 100%
                                width: 100%
                                --leftwidth: 25%
                                --ulpadding: 15px 10px 20px
                                .colA-md
                                    flex: 1
                                    width: 100%
                                    position: relative
                                    background-color: #F0F0F0
                                    .subcat-ul
                                        width: var(--leftwidth)
                                        height: 100%
                                        overflow-x: auto
                                        padding: 20px 0 
                                        .subcat-li
                                            width: 100%
                                            padding: 10px 20px
                                            &:hover
                                                background: var(--gradient-a)
                                                a
                                                    color: var(--white)
                                            &.active
                                                background: var(--gradient-a)
                                                a
                                                    color: var(--white)
                                                .col-sub-menu
                                                    display: block
                                            >a
                                                display: inline-block
                                                padding: 5px 0 3px 
                                                color: $text
                                                font-size: 16px
                                                position: relative
                                                transition: .5s ease
                                            .col-sub-menu
                                                position: absolute
                                                top: 0
                                                left: var(--leftwidth)
                                                width: calc( 100% - var(--leftwidth) )
                                                background-color: $white
                                                padding: 40px 30px
                                                transition: .5s ease
                                                display: none
                                                border-bottom: 2px solid #000
                                                .col-subgrid
                                                    display: grid
                                                    grid-template-columns: repeat(5, 1fr)
                                                    grid-gap: 20px
                                                    transition: .5s ease
                                                    .subsubcategory
                                                        width: 100%
                                                        padding: var(--ulpadding)
                                                        border: 1px solid $black
                                                        border-radius: 5px
                                                        img
                                                            width: 30px
                                                            height: 30px
                                                            margin-bottom: 20px
                                                        p
                                                            color: $black


                            
                            
                            
                            
                            
                            
                            
                            
                            
                            
                            
                            
                            
                            // ul
                            //     background: #fff
                            //     padding: 16px 12px
                            //     box-shadow: rgb(0 0 0 / 3%) -2px 6px 2px 3px
                            //     border-radius: 5px
                            //     text-align: left
                            //     white-space: nowrap
                            //     li
                            //         display: block
                            //         &:not(:last-child)
                            //             margin-right: 0
                            //             margin-bottom: 2px
                            //         a
                            //             font-size: 14px
                            //             display: flex
                            //             align-items: center
                            //             gap: 5px
                            //             color: $black
                            //             padding: 10px 14px
                            //             border-radius: 5px
                            //             overflow: hidden
                            //             &:hover
                            //                 background: #E3E3E3
                            //                 color: $black
                            //                 &::before
                            //                     opacity: 1
                            //             img
                            //                 width: 20px
                            //                 object-fit: cover
                            //             span
                            //                 display: block
                            //                 width: 24px
                            //                 line-height: 0
        .colB
            flex: 1
            display: flex
            align-items: center
            justify-content: end
            @include media(768)
                display: none
            >ul
                text-align: center
                cursor: default
                user-select: none
                display: flex
                align-items: center
                gap: 25px
                >li
                    display: inline-block
                    vertical-align: middle
                    line-height: 1
                    &:first-child
                        transition: .5s ease
                        border-right: 1px solid $black
                        padding-right: 15px
                        font-weight: 700
                    &.hasDropdown
                        position: relative
                        >a, img
                            transition: .5s ease
                            &::after
                                transition: .5s ease
                                content: ""
                                background-image: url(/assets/icon/arrow-down-black.svg)
                                background-repeat: no-repeat
                                background-position-x: 100%
                                background-position-y: 15%
                                background-size: var(--arrowsize) auto
                                padding-right: calc(var(--arrowsize) + var(--space))
                        &:hover
                            >a
                                color: var(--elementhover)
                                position: relative
                                &::after
                                    transform: rotate(90deg)
                            .dropdown-menu 
                                opacity: 1
                                transform: scale3d(1, 1, 1) 
                        .dropdown-menu
                            --triangle: 10px
                            position: absolute
                            top: calc(100% + var(--triangle))
                            left: 50%
                            translate: -50% 0
                            transform: perspective(2000px) translate3d(0px, 0px, 50px) rotateX(-90deg) scale3d(0.86, 0.75, 1) translateY(50px)
                            transform-origin: top
                            transition: .4s ease
                            opacity: 0
                            width: 100%
                            min-width: fit-content
                            &::before
                                content: ''
                                display: block
                                position: absolute
                                bottom: calc(100% - (var(--triangle) / 2))
                                left: 50%
                                translate: -50% 0
                                width: var(--triangle)
                                height: var(--triangle)
                                background: #fff
                                transform: rotate(45deg)
                                z-index: -1
                            ul
                                background: #fff
                                padding: 16px 12px
                                box-shadow: rgb(0 0 0 / 3%) -2px 6px 2px 3px
                                border-radius: 5px
                                text-align: left
                                white-space: nowrap
                                li
                                    display: block
                                    &:not(:last-child)
                                        margin-right: 0
                                        margin-bottom: 2px
                                    a
                                        font-size: 14px
                                        display: flex
                                        align-items: center
                                        gap: 5px
                                        color: $black
                                        padding: 10px 14px
                                        border-radius: 5px
                                        overflow: hidden
                                        &:hover
                                            background: #E3E3E3
                                            color: $black
                                            &::before
                                                opacity: 1
                                        img
                                            width: 20px
                                            object-fit: cover
                                        span
                                            display: block
                                            width: 24px
                                            line-height: 0
                    a
                        &:not(.btn)
                            color: var(--elementcolor)
                            @include font(500)
                            &:hover
                                color: var(--elementhover)
                        .svg, img
                            width: 25px
                            height: 25px
                    .ham-btn
                        --width: 40px
                        --height: 4px
                        text-align: -webkit-right
                        span
                            display: block
                            width: var(--width)
                            height: var(--height)
                            background-color: #000
                            transition: .5s ease
                            &:not(:last-child)
                                margin-bottom: 5px
                            &:nth-child(2)
                                width: calc( var(--width) * 0.7)
                            &:last-child
                                width: calc(var(--width) * 0.5)
                        &:hover
                            span
                                &:nth-child(2), &:last-child
                                    width: 100%
                        @include media(540)
                            width: 35px
        .nav-a
            flex: 1
            @include media(991)   
                display: none
            li
                &:not(:last-child)
                    margin-right: 40px

        .colC
            display: flex
            flex: 0 1 auto
            align-items: center
        .nav-b
            li
                &:first-child
                    border-right: 1px solid $white
                    padding-right: 15px
                    @include media(768)     
                        display: none
                    a
                        display: flex
                        align-items: center
                        gap: 8px
                @include media(540)
                    &:not(:last-child)
                        display: none
                &:not(:last-child)
                    margin-right: 17px
header
    &.header-fixed
        @include media(991)
            box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px
    &.header-fixed,&.header-fit
        transition: .5s ease
        --headerpadding: 14px
        height: var(--headerfixed)
        @include media(768)
            height: 50px
        &::after
            height: 100%
        .header-wrapper
            .colA
                ul
                    border-color: var(--white)
                    li, li.hasDropdown
                        a
                            color: var(--white)
                            &::after
                                filter: invert(1)
            .colB
                ul
                    li, li.hasDropdown
                        border-color: var(--white)
                        img
                            filter: invert(1)
                        span
                            background-color: var(--white)
                        a
                            color: var(--white)
                            &::after
                                filter: invert(1)
    &.header-fit
        transition: 0s
        &::after
            transition: none
        .header-wrapper
            .colA
                .logo
                    transition: none !important
    &.header-shadow
        box-shadow: 0px 2px 8px 0px #63636333


footer
    @include media(540)
        margin-bottom: var(--footerstrip)
    .call-to-action
        width: 100%
        background: var(--gradient-a)
        padding: 15px 25px
        align-items: center
        @include media(991)
            flex-direction: column
            gap: 25px
        @include media(540) 
            padding: 35px
        .colA
            flex: 1
            display: flex
            align-items: center
            @include media(540)     
                flex-direction: column
                width: 100%
                align-items: start
                gap: 10px
            .action
                display: flex
                gap: 10px
                padding: 0 30px
                @include media(768) 
                    gap: 6px
                    padding: 0 10px
                    flex: 1
                @include media(540)     
                    gap: 12px
                &:first-child
                    padding-left: 0
                    @include media(540) 
                        padding-left: 10px
                &:not(:last-child)
                    border-right: 1px solid $white
                    @include media(540)     
                        border-right: none
                .contact
                    h6
                        font-family: $ttrg-bd
                        font-size: 18px
                        color: $white
                        line-height: 1
                        @include media(768) 
                            font-size: 16px
                    a
                        color: $white
        .colB
            flex: 0 1 auto
            display: flex
            align-items: center
            gap: 15px
    .main-footer
        padding: 50px 25px 80px
        display: flex
        gap: 30px
        @include media(991)
            flex-direction: column
        @include media(540)     
            padding: 30px 15px 50px
        .colA
            flex: 0 1 auto
            @include media(991)
                margin: 0 auto 20px
            @include media(540)     
                margin: 0 auto
            img
                @include media(991)
                    height: 100%
                    object-fit: contain
        .colB
            flex: 1
            display: flex
            gap: 20px
            padding: 0 40px
            @include media(991)
                padding: 0 20px
            @include media(540)     
                flex-wrap: wrap
                padding: 0
                gap: 10px
            .list
                flex: 1
                @include media(540)     
                    flex: 0 1 46%
                h6
                    font-size: 18px
                    line-height: 1.2
                    font-family: $ttrg-bd
                    margin-bottom: 15px
                ul
                    li
                        a
                            font-size: 16px
                            color: $text
                            transition: .5s ease
                            padding-bottom: 5px
                            &:hover
                                color: $black
                                padding-left: 5px
                &:last-child
                    flex: 0 1 40%
                    @include media(540)     
                        flex: 1
                        margin-top: 20px
                    a
                        display: flex
                        gap: 5px
                        svg
                            flex: 0 1 50px

        .colC
            flex: 0 1 auto
            .social-icons
                display: flex
                align-items: center
                gap: 30px
                @include media(991)
                    justify-content: center

    .bottom-footer
        padding: 30px 25px 40px
        border-top: 1px solid #CCCCCC
        display: flex
        justify-content: space-between
        width: 100%
        align-items: center
        @include media(540)     
            flex-direction: column
            gap: 5px
        .pret
            a
                display: flex
                align-items: center
                color: $text
                img
                    width: 80px
                    padding-left: 10px

.ham-pop
    right: 0
    max-width: 480px
    background: linear-gradient(180deg, #d4f9f9 2%, #fff 89%)
    transform: translateX(100%)
    transition: .5s ease
    &.is-open
        transform: translateX(0%)
    .close
        path
            stroke: $text !important
            stroke-width: 2 !important
    .model-body
        padding: 75px 40px 30px
        height: 100%
        overflow-y: auto
        display: flex
        flex-direction: column
        background: url(/assets/icon/infra-icon.svg) no-repeat
        background-position-x: 90%
        background-position-y: 80%
        background-size: 100px
        @include scrollbar(6px,$white,#5e5e5e,8px)
        @include media(520)
            padding: 40px 20px
        .ico
            max-width: 70px
            margin-bottom: 55px
            line-height: 0
            img,svg
                width: 100%
                height: auto
        .nav-list
            flex: 1
            >li
                // &:not(:last-child)
                //     margin-bottom: 22px
                    @include media(1366)
                        margin-bottom: 20px
                >a
                    font-size: 28px
                    line-height: 1.06
                    padding: 10px 0  
                    color: $black
                    font-family: $ttrg-bd
                    display: block
                    @include font(500)
                    @include media(1366)
                        font-size: 28px
                    @include media(675)
                        font-size: 24px
                    &:hover
                        color: #1a9aa9
                        padding-left: 5px
                        
        .bottom-list
            border-top: 1px solid #ccc
            margin-top: 2rem
            padding-top: 1rem
            display: flex
            align-items: center
            gap: 1rem
            .social-icons
                a
                    display: inline-flex
                    vertical-align: middle
                    align-items: center
                    justify-content: center
                    height: 40px
                    width: 40px
                    border-radius: 50%
                    line-height: 0
                    overflow: hidden
                    @include before($gradient-a)
                    color: $text
                    &::before
                        border-radius: 50%
                        transform: scale(1.5)
                        z-index: -1
                        opacity: 0
                        transition: .2s ease
                    &:not(:last-child)
                        margin-right: 4px
                    svg
                        width: 24px
                        height: 24px
                        path
                            transition: none
                            &[stroke],&[fill="none"]
                                stroke: currentColor
                            &[fill]
                                fill: currentColor
                    &:hover
                        color: $white
                        &::before
                            transition: .5s ease
                            opacity: 1
                            transform: scale(1)

.enquire-pop
    right: 0
    transform: translateX(100%)
    transition: .5s ease
    background: $gradient-e
    &.is-open
        transform: translateX(0%)
    .model-body
        padding: 60px 35px 30px
        height: 100%
        overflow-y: auto
        @include scrollbar(3px,$white,#5e5e5e,8px)
        @include media(675)
            padding: 70px 20px 30px
        .title
            text-align: center
            margin-bottom: 2rem
            h4
                font-size: 32px
                color: $black
                font-family: $ttrg-bd
                @include font(500)
            p
                color: $text
                margin-top: 10px
                font-size: 14px
                line-height: 20px
                max-width: 317px
                margin-left: auto
                margin-right: auto
                @include media(675)
                    font-size: 14px
                    max-width: 300px
        .form
            --gaptb: 15px

.video-pop
    left: 0
    right: 0
    background: #0000007a
    z-index: 9
    max-width: 100%
    transform: translateY(100%)
    transition: .5s ease
    &.is-open
        transform: translateY(0%)
    .close-video
        position: absolute
        bottom: calc(100% + 20px)
        top: auto
        right: -40px
        height: 50px
        width: 50px
        border-radius: 50%
        background: $secondary
        display: flex
        align-items: center
        justify-content: center
        transition: .5s ease
        @include media(675)
            right: 0
        &:hover
            background: $primary
        svg
            height: 35%
            width: 35%
        path
            stroke-width: 2
            stroke: $white
    .model-body
        position: absolute
        top: 50%
        left: 50%
        translate: -50% -50%
        width: 100%
        max-width: 50%
        @include media(675)
            max-width: 95%
        iframe
            width: 100%
            aspect-ratio: 1.9
            border: 2px solid $white
            background: $white
.footer-strip
    position: fixed
    bottom: 0
    left: 0
    right: 0
    z-index: 4
    background: var(--gradient-a)
    display: none
    @include media(540)
        display: block
    ul
        @include flex
        li
            flex: 1
            &:not(:last-child)
                border-right: 1px solid rgb(256 256 256 / 10%)
            a
                display: flex
                flex-direction: column
                align-items: center
                padding: 10px
                gap: 5px
                color: $white
                font-size: 14px
                height: var(--footerstrip)
                svg
                    width: 20px
                    height: 20px
                    &[stroke]
                        stroke: $white
                    &[fill]
                        fill: $white
                    path
                        &[stroke]
                            stroke: $white
                        &[fill]
                            fill: $white
