@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap");
@keyframes shine {
  from {
    opacity: 0;
    left: 0%;
  }
  50% {
    opacity: 1;
  }
  to {
    opacity: 0;
    left: 100%;
  }
}
.line {
  position: relative;
}
.line::after {
  content: "";
  position: absolute;
  bottom: 40px;
  left: 0%;
  width: 99.5vw;
  height: 1px;
  background-color: var(--black);
}
.line .banner-container {
  padding-bottom: 40px;
}
.line .banner-container .career_banner .bg {
  height: calc(100vh - var(--headerheight));
}
.line .banner-container .career_banner .banner-wrapper .heading h2, .line .banner-container .career_banner .banner-wrapper .heading p {
  color: var(--white);
}
.line .banner-container .career_banner .banner-wrapper .heading p {
  max-width: 420px;
  margin: 0 auto;
}

.career-secA {
  border-top: 1px solid var(--black);
}
.career-secA .flex {
  border-bottom: 1px solid var(--black);
}
.career-secA .flex .colA, .career-secA .flex .colB {
  flex: 1;
}
.career-secA .flex .colA h2 {
  font-size: 36px;
  line-height: 1.3;
  max-width: 410px;
}
.career-secA .flex .colB {
  padding: 0 20px;
}
.career-secA .flex .colB p {
  color: var(--text);
  margin-bottom: 50px;
}

.career-secB .container {
  border-bottom: 1px solid var(--black);
}
.career-secB .container .life-wrapper {
  padding-top: 70px;
  position: relative;
}
.career-secB .container .life-wrapper .swiper-nav {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  position: absolute;
  right: 0;
  top: 0;
}
.career-secB .container .life-wrapper .swiper-nav button {
  display: inline-block;
  width: 40px;
  height: 40px;
  border: 1px solid var(--black);
  border-radius: 50%;
}
.career-secB .container .life-wrapper .swiper-nav button svg {
  vertical-align: middle;
  width: 30px;
  height: 30px;
}
.career-secB .container .life-wrapper .life-slider .swiper-slide figure {
  border-radius: 10px;
  line-height: 1;
}
.career-secB .container .life-wrapper .life-slider .swiper-slide figure:hover img {
  filter: grayscale(0);
}
.career-secB .container .life-wrapper .life-slider .swiper-slide figure:hover .icon {
  opacity: 1;
}
.career-secB .container .life-wrapper .life-slider .swiper-slide figure img {
  filter: grayscale(1);
  border-radius: 10px;
  height: 100%;
}
.career-secB .container .life-wrapper .life-slider .swiper-slide figure .icon {
  opacity: 0;
  transition: 0.5s ease;
  background-color: rgba(255, 104, 44, 0.7607843137);
  border-radius: 10px;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
}
.career-secB .container .life-wrapper .life-slider .swiper-slide figure .icon::before, .career-secB .container .life-wrapper .life-slider .swiper-slide figure .icon::after {
  content: "";
  position: absolute;
  display: inline-block;
  width: 20px;
  height: 2px;
  background-color: var(--white);
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.career-secB .container .life-wrapper .life-slider .swiper-slide figure .icon::after {
  transform: translate(-50%, -50%) rotate(90deg);
}

.career-secC .container .heading {
  max-width: 620px;
  margin: 0 auto;
}
.career-secC .container .heading p {
  color: var(--text);
}
.career-secC .container .workHere-wrapper {
  padding-top: 60px;
  gap: 40px;
}
.career-secC .container .workHere-wrapper .colA {
  flex: 1;
}
.career-secC .container .workHere-wrapper .colA h6 {
  font-size: 20px;
  font-weight: 600;
  line-height: 1.2;
  padding-bottom: 10px;
}
.career-secC .container .workHere-wrapper .colA p {
  max-width: 620px;
}
.career-secC .container .workHere-wrapper .colB {
  flex: 0 1 auto;
}/*# sourceMappingURL=career.css.map */