@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap");
@keyframes shine {
  from {
    opacity: 0;
    left: 0%;
  }
  50% {
    opacity: 1;
  }
  to {
    opacity: 0;
    left: 100%;
  }
}
.service-col {
  padding: 20px 25px;
  text-align: center;
  border: 1px solid var(--text);
  border-radius: 5px;
  cursor: pointer;
  position: relative;
}
@media only screen and (max-width: 768px) {
  .service-col {
    padding: 10px 15px;
  }
}
.service-col::before {
  content: "";
  width: 0%;
  height: 0%;
  position: absolute;
  bottom: 0;
  left: 0;
  background: var(--gradient-a);
  border-radius: 0 5px 0 0;
  transition: 0.5s ease;
  z-index: -1;
}
.service-col:hover::before {
  width: 100%;
  height: 100%;
}
.service-col:hover img {
  filter: invert(1);
}
.service-col:hover p {
  color: var(--white);
}
.service-col img {
  width: 60px;
  height: 60px;
  margin-bottom: 10px;
  transition: 1s ease;
}
@media only screen and (max-width: 540px) {
  .service-col img {
    width: 35px;
    height: 35px;
  }
}
.service-col p {
  color: var(--black);
  line-height: 1.1;
  transition: 1s ease;
}

.summery-detail-content .col {
  --padlr: 0;
  transition: 0.5s ease;
}
.summery-detail-content .col.active .title .outer-circle {
  background: var(--gradient-a);
  border: none;
}
.summery-detail-content .col.active .title h6 {
  color: var(--black);
}
.summery-detail-content .col.active .title .ico {
  --bgcolor: var(--white);
}
.summery-detail-content .col.active .title .ico::after {
  transform: scaleY(0);
}
.summery-detail-content .col.active article {
  max-height: -moz-fit-content;
  max-height: fit-content;
  opacity: 1;
}
.summery-detail-content .col .title {
  display: flex;
  flex-wrap: wrap;
  overflow: hidden;
  align-items: center;
  padding: 10px 20px 10px 0;
  margin-left: -20px;
  gap: 20px;
  cursor: pointer;
  transition: 0.5s ease;
}
.summery-detail-content .col .title h6 {
  font-size: 18px;
  line-height: 1.2;
  font-weight: 700;
  flex: 1;
  color: var(--text);
  padding-right: 1rem;
  transition: 0.5s ease;
}
@media only screen and (max-width: 540px) {
  .summery-detail-content .col .title h6 {
    font-size: 16px;
  }
}
@media only screen and (max-width: 345px) {
  .summery-detail-content .col .title h6 {
    font-size: 14px;
  }
}
.summery-detail-content .col .title .outer-circle {
  border: 1px solid var(--black);
  border-radius: 50%;
  background-color: var(--white);
  padding: 10px;
  transition: 0.5s ease;
}
@media only screen and (max-width: 540px) {
  .summery-detail-content .col .title .outer-circle {
    padding: 7px;
  }
}
.summery-detail-content .col .title .ico {
  flex: 0 1 auto;
  --size: 18px;
  --border: 2px;
  --bgcolor: var(--black);
  height: var(--size);
  width: var(--size);
  position: relative;
}
.summery-detail-content .col .title .ico::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 0;
  pointer-events: none;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  background: var(--bgcolor);
}
.summery-detail-content .col .title .ico::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 0;
  pointer-events: none;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  background: var(--bgcolor);
}
@media only screen and (max-width: 540px) {
  .summery-detail-content .col .title .ico {
    --size: 14px;
  }
}
.summery-detail-content .col .title .ico::before, .summery-detail-content .col .title .ico::after {
  transition: 0.5s ease;
}
.summery-detail-content .col .title .ico::before {
  top: calc(var(--size) / 2 - var(--border) / 2);
  bottom: auto;
  height: var(--border);
  width: 100%;
}
.summery-detail-content .col .title .ico::after {
  left: calc(var(--size) / 2);
  translate: -50% 0;
  right: auto;
  width: var(--border);
  height: 100%;
}
.summery-detail-content .col article {
  position: relative;
  background: var(--white);
  border-top: none;
  max-height: 0;
  opacity: 0;
  overflow: hidden;
  transition: max-height 0.4s ease-in-out, opacity 0.3s ease-in-out;
  border-radius: 0 0 5px 5px;
}
.summery-detail-content .col article .content-desc {
  padding: 0px 10px 0px 40px;
}
.summery-detail-content .col article .content-desc p, .summery-detail-content .col article .content-desc ul, .summery-detail-content .col article .content-desc h2, .summery-detail-content .col article .content-desc h3, .summery-detail-content .col article .content-desc h4, .summery-detail-content .col article .content-desc h5, .summery-detail-content .col article .content-desc h6 {
  margin-bottom: 16px;
}
.summery-detail-content .col article .content-desc *:not(button) {
  color: var(--text);
  font-size: 16px;
  line-height: 1.5;
}
.summery-detail-content .col article .content-desc h1, .summery-detail-content .col article .content-desc h2, .summery-detail-content .col article .content-desc h3, .summery-detail-content .col article .content-desc h4, .summery-detail-content .col article .content-desc h5, .summery-detail-content .col article .content-desc h6, .summery-detail-content .col article .content-desc b {
  color: var(--black);
  font-weight: 500;
}
.summery-detail-content .col article .content-desc ul {
  padding-left: 20px;
}
.summery-detail-content .col article .content-desc ul li {
  list-style: none;
}
.summery-detail-content .col article .content-desc ul li::before {
  background-color: var(--primary);
}
@media only screen and (max-width: 540px) {
  .summery-detail-content .col article .content-desc ul li {
    font-size: 14px;
  }
}
.summery-detail-content .col article .content-desc ul li:not(:last-child) {
  margin-bottom: 5px;
}
@media only screen and (max-width: 540px) {
  .summery-detail-content .col article .content-desc p {
    font-size: 14px;
  }
}

.col-3d {
  --borderwidth: 27px;
  --bordercolor: #000;
  --borderheight: 1px;
  position: relative;
  overflow: hidden;
  padding: 0 0 var(--borderwidth) var(--borderwidth);
}
@media only screen and (max-width: 540px) {
  .col-3d {
    --borderwidth: 15px;
  }
}
.col-3d:hover .card-wrap {
  transform: translate(0, 0);
}
.col-3d:hover .card-wrap::before, .col-3d:hover .card-wrap::after {
  width: 0;
}
.col-3d:hover .card-wrap::before {
  left: 0;
}
.col-3d:hover .card-wrap::after {
  right: 0;
}
.col-3d::before, .col-3d::after {
  content: "";
  position: absolute;
  bottom: 100%;
  pointer-events: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  background: var(--bordercolor);
  transition: 0.5s ease;
}
.col-3d::before {
  width: calc(100% - var(--borderwidth));
  height: var(--borderheight);
  top: 0;
  right: 0;
}
.col-3d::after {
  height: calc(100% - var(--borderwidth));
  width: var(--borderheight);
  top: 0;
  right: 0;
}
.col-3d .card-wrap {
  transform: translate(calc(var(--borderwidth) * -1), var(--borderwidth));
  position: relative;
  transition: 0.5s ease;
}
.col-3d .card-wrap::before, .col-3d .card-wrap::after {
  content: "";
  position: absolute;
  bottom: 100%;
  pointer-events: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  width: var(--borderheight);
  height: 100%;
  background: var(--bordercolor);
  transform: rotate(45deg);
  transform-origin: bottom;
  transition: 0.5s ease;
}
.col-3d .card-wrap::before {
  left: 0;
}
.col-3d .card-wrap::after {
  right: 0;
}
.col-3d .card-wrap .card {
  position: relative;
}
.col-3d .card-wrap .card::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 100%;
  pointer-events: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  width: var(--borderheight);
  height: 100%;
  background: var(--bordercolor);
  transform: rotate(45deg);
  transform-origin: bottom;
}
.col-3d .card-wrap .card .figure {
  display: block;
  line-height: 0;
  overflow: hidden;
  -webkit-clip-path: polygon(100% 0%, 100% 100%, 8% 100%, 0% 86%, 0 0);
          clip-path: polygon(100% 0%, 100% 100%, 8% 100%, 0% 86%, 0 0);
  position: relative;
}
.col-3d .card-wrap .card .figure::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 0;
  pointer-events: none;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.5) 100%);
}
.col-3d .card-wrap .card .figure img {
  width: 100%;
  transition: 0.5s ease;
  line-height: 0;
}
.col-3d .card-wrap .card figcaption {
  position: absolute;
  bottom: 10%;
  left: 10%;
  padding: 0 40px 20px;
}
@media only screen and (max-width: 540px) {
  .col-3d .card-wrap .card figcaption {
    padding: 0 10px 20px;
  }
}
.col-3d .card-wrap .card figcaption p {
  font-size: 18px;
  color: var(--white);
  line-height: 1.2;
  font-weight: 800;
}
@media only screen and (max-width: 540px) {
  .col-3d .card-wrap .card figcaption p {
    font-size: 16px;
  }
}

.col-3d-right {
  --borderwidth: 90px;
  --bordercolor: #000;
  --borderheight: 1px;
  position: relative;
  overflow: hidden;
  padding: 0 var(--borderwidth) var(--borderwidth) 0;
}
.col-3d-right:hover .card-wrap {
  transform: translate(0, 0);
}
.col-3d-right:hover .card-wrap::before, .col-3d-right:hover .card-wrap::after {
  width: 0;
}
.col-3d-right:hover .card-wrap::before {
  left: 0;
}
.col-3d-right:hover .card-wrap::after {
  right: 0;
}
.col-3d-right::before, .col-3d-right::after {
  content: "";
  position: absolute;
  bottom: 100%;
  pointer-events: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  background: var(--bordercolor);
  transition: 0.5s ease;
}
.col-3d-right::before {
  width: calc(100% - var(--borderwidth));
  height: var(--borderheight);
  top: 0;
  left: 0;
}
.col-3d-right::after {
  height: calc(100% - var(--borderwidth));
  width: var(--borderheight);
  top: 0;
  left: 0;
}
.col-3d-right .card-wrap {
  transform: translate(var(--borderwidth), var(--borderwidth));
  position: relative;
  transition: 0.5s ease;
}
.col-3d-right .card-wrap::before, .col-3d-right .card-wrap::after {
  content: "";
  position: absolute;
  bottom: 100%;
  pointer-events: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  width: var(--borderheight);
  height: 100%;
  background: var(--bordercolor);
  transform: rotate(316deg);
  transform-origin: bottom;
  transition: 0.5s ease;
}
.col-3d-right .card-wrap::before {
  left: 0;
}
.col-3d-right .card-wrap::after {
  right: 0;
}
.col-3d-right .card-wrap .card {
  position: relative;
}
.col-3d-right .card-wrap .card::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  pointer-events: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  width: var(--borderheight);
  height: 100%;
  background: var(--bordercolor);
  transform: rotate(314deg);
  transform-origin: bottom;
}
.col-3d-right .card-wrap .card .figure {
  display: block;
  line-height: 0;
  overflow: hidden;
}
.col-3d-right .card-wrap .card .figure img, .col-3d-right .card-wrap .card .figure video {
  width: 100%;
  transition: 0.5s ease;
  line-height: 0;
}

.formComWrapper .flex {
  align-items: center;
  gap: 100px;
}
@media only screen and (max-width: 991px) {
  .formComWrapper .flex {
    gap: 40px;
  }
}
@media only screen and (max-width: 768px) {
  .formComWrapper .flex {
    flex-direction: column;
    gap: 0;
  }
}
.formComWrapper .flex .colA {
  flex: 0 1 40%;
  display: flex;
  justify-content: center;
}
.formComWrapper .flex .colA .form-3d {
  width: 300px;
  height: 480px;
}
@media only screen and (max-width: 991px) {
  .formComWrapper .flex .colA .form-3d {
    --borderwidth: 60px;
  }
}
@media only screen and (max-width: 540px) {
  .formComWrapper .flex .colA .form-3d {
    width: 150px;
    height: 300px;
    --borderwidth: 40px;
  }
}
.formComWrapper .flex .colA .form-3d:hover .card-wrap::before, .formComWrapper .flex .colA .form-3d:hover .card-wrap::after {
  width: var(--borderheight);
}
.formComWrapper .flex .colA .form-3d .card-wrap, .formComWrapper .flex .colA .form-3d .card, .formComWrapper .flex .colA .form-3d .figure, .formComWrapper .flex .colA .form-3d video {
  width: 100%;
  height: 100%;
}
.formComWrapper .flex .colA .form-3d .card-wrap {
  transform: translate(var(--borderwidth), calc(var(--borderwidth) * 0.3));
}
.formComWrapper .flex .colA .form-3d .card-wrap::before, .formComWrapper .flex .colA .form-3d .card-wrap::after {
  transform: rotate(286deg);
}
.formComWrapper .flex .colA .form-3d .card-wrap .card::before {
  transform: rotate(287deg);
}
.formComWrapper .flex .colA .form-3d video {
  filter: grayscale(1);
}
.formComWrapper .flex .colB {
  flex: 1;
}
.formComWrapper .flex .colB .title {
  padding: 40px 0;
}
@media only screen and (max-width: 768px) {
  .formComWrapper .flex .colB .title {
    padding: 0 0 30px;
    text-align: center;
  }
}
.formComWrapper .flex .colB .title h2 {
  font-size: 36px;
  line-height: 1.3;
  font-weight: 700;
  max-width: 297px;
  padding-bottom: 10px;
}
@media only screen and (max-width: 768px) {
  .formComWrapper .flex .colB .title h2 {
    max-width: 100%;
    font-size: 30px;
  }
}
@media only screen and (max-width: 540px) {
  .formComWrapper .flex .colB .title h2 {
    font-size: 24px;
    padding: 0 15px 5px;
  }
}
.formComWrapper .flex .colB .title p {
  color: var(--black);
}

.form-grid {
  --item: 2;
  --gaplr: 20px;
  --gaptb: 20px;
  --textareaheight: 60px;
}
.form-grid.full_width {
  --item: 1;
}
.form-grid .btn-wrap {
  margin-top: 20px;
}
.form-grid .btn-wrap button {
  border-radius: 5px;
}

.description-section .flex {
  border-bottom: 1px solid var(--black);
}
.description-section .flex .colA {
  padding: 40px 50px 40px 40px;
  border-right: 1px solid var(--black);
  flex: 0 1 60%;
}
.description-section .flex .colA .content p {
  padding-bottom: 20px;
}
.description-section .flex .colB {
  padding: 60px 50px;
  flex: 1;
}
.description-section .flex .colB .heading {
  text-align: center;
  padding-bottom: 20px;
}
.description-section .flex .colB .heading h2 {
  font-size: 30px;
  line-height: 1.2;
  font-weight: 700;
}
.description-section .flex .colB .heading p {
  color: var(--text);
}
.description-section .flex .colB .DescForm {
  --item: 1;
}
.description-section .flex .colB .DescForm .btn-wrap {
  text-align: center;
}

.sol-itemCard {
  padding: 50px 30px;
  border-right: 1px solid var(--black);
  border-bottom: 1px solid var(--black);
  cursor: pointer;
  overflow: hidden;
  position: relative;
}
.sol-itemCard:hover .hover-item {
  transform: translateY(0);
}
.sol-itemCard h5 {
  font-weight: 700;
  text-align: center;
  margin: 0 auto 30px;
}
.sol-itemCard figure {
  width: 100%;
  height: 100%;
}
.sol-itemCard figure img {
  -o-object-fit: contain;
     object-fit: contain;
}
.sol-itemCard .hover-item {
  background: var(--gradient-a);
  width: 100%;
  height: 100%;
  text-align: center;
  position: absolute;
  top: 0;
  left: 0;
  padding: 50px 30px;
  transform: translateY(100%);
  transition: 0.7s ease;
}
.sol-itemCard .hover-item h5 {
  font-weight: 700;
  text-align: center;
  margin: 0 auto 30px;
  color: var(--white);
}
.sol-itemCard .hover-item p {
  color: var(--white);
  text-align: center;
}
.sol-itemCard .hover-item .btn-btn {
  margin: 30px;
  width: -moz-fit-content;
  width: fit-content;
}
.sol-itemCard .hover-item .btn-btn:hover span {
  transform: translate(0);
}
.sol-itemCard .hover-item .btn-btn::before {
  background-color: var(--white);
}
.sol-itemCard .hover-item .btn-btn span {
  background-color: var(--primary);
  color: var(--white);
  border-color: var(--white);
  transform: translate(-4px, -3px);
}

.additional-slider .swiper-slide:last-child .sol-itemCard {
  border-right: none;
}

.additional-services .container {
  padding-bottom: 0;
}
.additional-services .heading {
  position: relative;
  border-bottom: 1px solid var(--black);
  padding-bottom: 40px;
}
.additional-services .heading h2 {
  max-width: 550px;
  margin: 0 auto;
  text-align: center;
}
.additional-services .heading .swiper-nav {
  position: absolute;
  right: 5%;
  top: 30%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.additional-services .heading .swiper-nav button {
  display: inline-block;
  width: 40px;
  height: 40px;
  border: 1px solid var(--black);
  border-radius: 50%;
}
.additional-services .heading .swiper-nav button svg {
  vertical-align: middle;
  width: 30px;
  height: 30px;
}

.service-item {
  background-color: #F5F5F5;
  border: 1px solid var(--text);
  border-radius: 10px;
  padding: 30px 20px;
  display: flex;
  gap: 20px;
}
.service-item img {
  width: 45px;
  height: 45px;
}
.service-item .content {
  text-align: left;
}
.service-item .content h6 {
  font-size: 18px;
  font-weight: 600;
  padding-bottom: 10px;
}
.service-item .content p {
  font-size: 15px;
  line-height: 1.3;
  letter-spacing: 0.7px;
  color: var(--text);
  padding-bottom: 15px;
}
.service-item .content .more_a {
  display: flex;
  align-items: center;
  gap: 7px;
  font-weight: 700;
}
.service-item .content .more_a svg {
  transition: 0.5s ease;
}
.service-item .content .more_a:hover svg {
  transform: translateX(5px);
}/*# sourceMappingURL=components.css.map */