@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap");
@keyframes shine {
  from {
    opacity: 0;
    left: 0%;
  }
  50% {
    opacity: 1;
  }
  to {
    opacity: 0;
    left: 100%;
  }
}
.contact-secA {
  border-top: 1px solid var(--black);
  border-bottom: 1px solid var(--black);
}
.contact-secA .heading p {
  color: var(--text);
  max-width: 412px;
  margin: 0 auto;
}

@media only screen and (max-width: 991px) {
  .contact-secA .flex {
    align-items: center;
  }
}
@media only screen and (max-width: 768px) {
  .contact-secA .flex {
    flex-direction: column;
    gap: 10px;
  }
}
.contact-secA .flex .colA, .contact-secA .flex .colB {
  flex: 1;
}
.contact-secA .flex .colA .video-icon {
  -webkit-mask-image: url(/assets/images/home/about-vector.svg);
          mask-image: url(/assets/images/home/about-vector.svg);
  -webkit-mask-size: 70%;
          mask-size: 70%;
  -webkit-mask-repeat: no-repeat;
          mask-repeat: no-repeat;
  aspect-ratio: 0.9876;
  line-height: 0;
}
@media only screen and (max-width: 991px) {
  .contact-secA .flex .colA .video-icon {
    -webkit-mask-size: 80%;
            mask-size: 80%;
  }
}
@media only screen and (max-width: 768px) {
  .contact-secA .flex .colA .video-icon {
    -webkit-mask-size: 90%;
            mask-size: 90%;
    height: 300px;
  }
}
@media only screen and (max-width: 540px) {
  .contact-secA .flex .colA .video-icon {
    -webkit-mask-size: 100%;
            mask-size: 100%;
    height: 90px;
  }
}
.contact-secA .flex .colA .video-icon video {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.contact-secA .flex .colB h3 {
  text-align: center;
  font-size: 24px;
  line-height: 1.2;
}
@media only screen and (max-width: 540px) {
  .contact-secA .flex .colB h3 {
    font-size: 22px;
  }
}
.contact-secA .flex .colB .contact-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 20px 10px;
  padding-top: 30px;
}
@media only screen and (max-width: 540px) {
  .contact-secA .flex .colB .contact-grid {
    grid-template-columns: repeat(1, 1fr);
    padding-top: 20px;
  }
}
.contact-secA .flex .colB .contact-grid .contact-col {
  background-color: var(--white);
  padding: 30px 20px;
  text-align: center;
  border: 1px solid #D1D0D0;
  border-radius: 15px;
}
@media only screen and (max-width: 540px) {
  .contact-secA .flex .colB .contact-grid .contact-col {
    padding: 20px 15px;
  }
}
.contact-secA .flex .colB .contact-grid .contact-col .icon {
  padding-bottom: 10px;
}
.contact-secA .flex .colB .contact-grid .contact-col .icon img {
  width: 44px;
}
.contact-secA .flex .colB .contact-grid .contact-col h6 {
  font-size: 18px;
  line-height: 1.2;
  font-family: "ttrg-bd";
  padding-bottom: 10px;
}
.contact-secA .flex .colB .contact-grid .contact-col a {
  display: block;
  color: var(--text);
  transition: 0.5s ease;
}
.contact-secA .flex .colB .contact-grid .contact-col a.whatsappBtn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  background: var(--gradient-a);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  font-family: "ttrg-bd";
  margin-top: 5px;
}
.contact-secA .flex .colB .contact-grid .contact-col a:hover {
  color: var(--black);
}
.contact-secA .flex .colB .contact-grid .contact-col a img {
  width: 30px;
}

.contact-secB .flex {
  border-bottom: 1px solid var(--black);
}
@media only screen and (max-width: 1300px) {
  .contact-secB .flex {
    padding: 0;
  }
}
.contact-secB .flex .contact-col {
  flex: 1;
  padding: 30px 30px 40px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.contact-secB .flex .contact-col:not(:last-child) {
  border-right: 1px solid var(--black);
}
@media only screen and (max-width: 768px) {
  .contact-secB .flex .contact-col:not(:last-child) {
    border-right: none;
    border-bottom: 1px solid var(--black);
    padding: 30px;
  }
}
@media only screen and (max-width: 540px) {
  .contact-secB .flex .contact-col:not(:last-child) {
    padding: 30px 0 30px;
  }
}
@media only screen and (max-width: 768px) {
  .contact-secB .flex .contact-col {
    width: 100%;
    flex: 0 1 100%;
  }
}
.contact-secB .flex .contact-col .icon {
  width: 50px;
  height: 50px;
  margin-bottom: 20px;
}
.contact-secB .flex .contact-col .icon img {
  height: 100%;
}
@media only screen and (max-width: 540px) {
  .contact-secB .flex .contact-col .icon {
    margin-bottom: 15px;
    width: 40px;
    height: 40px;
  }
}
.contact-secB .flex .contact-col h6 {
  font-size: 24px;
  line-height: 1.2;
  font-weight: 600;
  padding-bottom: 20px;
}
@media only screen and (max-width: 540px) {
  .contact-secB .flex .contact-col h6 {
    font-size: 20px;
    padding-bottom: 10px;
  }
}
.contact-secB .flex .contact-col a {
  font-size: 16px;
  line-height: 1.2;
  font-weight: 400;
  color: var(--text);
  max-width: 270px;
  margin-bottom: 30px;
  transition: 0.5s ease;
}
@media only screen and (max-width: 540px) {
  .contact-secB .flex .contact-col a {
    margin-bottom: 20px;
  }
}
.contact-secB .flex .contact-col a:hover {
  color: var(--black);
}
.contact-secB .flex .contact-col .btn-btn span {
  font-size: 12px;
  letter-spacing: 1px;
  font-weight: 500;
}

.contact-secC .container {
  border-bottom: 1px solid var(--black);
  line-height: 1;
}
@media only screen and (max-width: 1300px) {
  .contact-secC .container {
    padding: 0;
  }
}
.contact-secC .container iframe {
  filter: grayscale(1);
}
@media only screen and (max-width: 540px) {
  .contact-secC .container iframe {
    height: 400px;
  }
}/*# sourceMappingURL=contact.css.map */